# Dependencies
node_modules/

# Angular build output
dist/
out-tsc/
.angular/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
.DS_Store

# Library compiled stylesheet
packages/ng-ui/styles.css

# Turbo
.turbo/

# Storybook
storybook-static/
documentation.json
.documentation/
